
{% block body %}

	{{form_start(formBB)}}
	<div class="row">
		<div class="col-md-6">
			{{form_row(formBB.name)}}
		</div>
		<div class="col-md-4">
		{{form_row(formBB.imageFile)}}
		</div>
		<div class="row">
			<div class="col-md-8">
				{{form_row(formBB.description)}}
			</div>
			<div class="row">
				<div class="col-md-4">
					{{form_row(formBB.address)}}
				</div>
			<div class="row">
				<div class="col-md-3">
					{{form_row(formBB.floorSpace)}}
				</div>
				<div class="col-md-3">
					{{form_row(formBB.roomNumber)}}
				</div>

				<div class="col-md-3">
					{{form_row(formBB.Bedding)}}
				</div>

				<div class="col-md-3">
					{{form_row(formBB.animals)}}
				</div>
<div class="row">
				<div class="col-md-6">
					{{form_row(formBB.highSeasonPrice)}}
				</div>

				<div class="col-md-6">
					{{form_row(formBB.lowSeasonPrice)}}
				</div
			</div>
<div class="col-md-6">
					{{form_row(formBB.city)}}
				</div>

				<div class="col-md-6">
					{{form_row(formBB.postCode)}}
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-5">
					{{form_row(formBB.Amenities)}}
				</div>
				<div class="col-md-5">
					
				</div>
				</div>
				
				{{form_end(formBB)}}
			{% endblock %}
