{% extends "base.html.twig"%}

{% block title %}
	Progica gorgeous Bed and Breakfast
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="form-control">
			{{form_start(form)}}
			<div class="form-row">
				<div class="col">
					{{form_row(form.minSurface)}}
				</div>
				<div class="col">
					{{form_row(form.maxBedding)}}
				</div>
				<div class="col">
					{{form_row(form.animalsAccepted)}}
				</div>
				<div class="col">
					{{form_row(form.perCity)}}
				</div>
				<div class="col">
					{{form_row(form.perAmenities)}}
				</div>
				
			</div>
			{{form_end(form)}}
		</div>
	</div>
	<h1>
		<div class="container mt-4"></h1>Available Bbs</h1>
	<div class="row">
		{% for HolidayHome in BBs %}
			<div class="col-md-4 mt-3">
				<div class="card" >
					<img src="{{vich_uploader_asset( HolidayHome ,"imageFile")}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{HolidayHome.name}}</h5>
						<p class="card-text">{{HolidayHome.description}}</p>
						<a href="{{path ('Bb.show',{'id': HolidayHome.id})}}" class="btn btn-primary">Click to your bed and Breakfast</a>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>
</div>
<div class="pagination">
	{{knp_pagination_render(BBs)}}
</div>{% endblock %}
