{% extends "base.html.twig"%}

{% block title %}
	The B n B
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">

				<div class="col-md-6">
				<img src="#">
					<h1>{{BB.name}}</h1>
					<button class="btn btn-secondary">Contact the agent</button>
					<div id="ContactForm" class="mt-4">
						{{form_start(form)}}

						{{form_rest(form)}}
						<button class="btn btn-secondary">Send</button>
						{{form_end(form)}}
						<div class class "row">

							<div class="col-md-6">
								<table class="table table-striped">

									<th>#id</th>
									<th>Name</th>
									<th>Description</th>
									<th>Address</th>
									<th>City</th>
									<th>postCode</th>
									<tr>
										<td>{{BB.id}}</td>
										<td>{{BB.name}}</td>
										<td>{{BB.description}}</td>
										<td>{{BB.address}}</td>
										<td>{{BB.city}}</td>
										<td>{{BB.postCode}}</td>

									</tr>
									<th>Address</th>
									<th>FloorSpace</th>
									<th>Bedding</th>
									<th>roomNumber</th>
									<th>highSeasonPrice</th>
									<th>lowSeasonPrice</th>

									<tr>
										<td>{{BB.floorSpace}}</td>
										<td>{{BB.Bedding}}</td>
										<td>{{BB.roomNumber}}</td>
										<td>{{BB.highSeasonPrice}}</td>
										<td>{{BB.lowSeasonPrice}}</td>
									</tr>
									<tr>
										<th>Animals</th>
										<th>Amenities</th>
									</tr>
									<tr>
										{% if BB.animals %}
											<td>Accepted</td>
										{% else %}
											<td>Refused</td>
										{% endif %}
										{% for eq in BB.amenities %}


											<td>

												{{eq.name}}

											</td>
										{% endfor %}
									</tr>
								
								</table>
							
							
					</div>

				{% endblock %}
