{% extends "base.html.twig"%}

{% block title %}
	The B n B
{% endblock %}

{% block body %}
	<div class="row">
		<h1>Bed and Breakfast</h1>
	</div>
	<div class class "row">
		<div class="col-md-6">
			<table class="table table-striped">
				<thead>
					<th>#id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Address</th>
					<th>FloorSpace</th>
					<th>roomNumber</th>
					<th>Bedding</th>
					<th>Animals</th>
					<th>highSeasonPrice</th>
					<th>lowSeasonPrice</th>
					<th>City</th>
					<th>postCode</th>
				</thead>
				<tbody>
					<td>{{BB.id}}</td>
					<td>{{BB.name}}</td>
					<td>{{BB.description}}</td>
					<td>{{BB.address}}</td>
					<td>{{BB.floorSpace}}</td>
					<td>{{BB.roomNumber}}</td>
					<td>{{BB.Bedding}}</td>
					<td>{{BB.animals}}</td>
					<td>{{BB.highSeasonPrice}}</td>
					<td>{{BB.lowSeasonPrice}}</td>
					<td>{{BB.city}}</td>
					<td>{{BB.postCode}}</td>
<tr>
<th>Amenities</th>
<td>
{% for anemity in HolidayHome.Anemities %}

{% endfor %}
</td>
</tr>
				</tbody>
			</table>
			<div class="col-md-6"></div>
		</div>

	{% endblock %}
